# Virtual Environments
venv/
backend/venv/
env/
.venv/

# Python cache & build outputs
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
.DS_Store
Thumbs.db

# Large / User Sample Videos (Ignore heavy videos, include default sample video)
data/sample_videos/*
!data/sample_videos/road_traffic.mp4
